@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(midia/eRwDMy.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#celular{
    position: fixed; /* Torna a imagem fixa na tela */
    top: 50%; /* Posiciona a imagem verticalmente no centro da tela */
    left: 50%; /* Posiciona a imagem horizontalmente no centro da tela */
    transform: translate(-50%, -50%); /* Centraliza a imagem corretamente */
    width: 800px;
    height: 800px;
}


#github{
    position: fixed;
    border-radius: 50%;
    top:20px;
    right:20px;
    width: 65px;
    height: 65px;
}
#github:hover{
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    transition-duration: 0.4s;

}

#yt{
    position: fixed;
    border-radius: 50%;
    top:100px;
    right:20px;
    width: 65px;
    height: 65px;
}

#yt:hover{
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    transition-duration: 0.4s;
}


iframe#tela{
    position: fixed; /* Torna a imagem fixa na tela */
    top: 50%; /* Posiciona a imagem verticalmente no centro da tela */
    left: 50%; /* Posiciona a imagem horizontalmente no centro da tela */
    transform: translate(-50%, -50%); /* Centraliza a imagem corretamente */
    width: 345px;
    height: 737px;
    border-radius: 50px;
}

/* @media (max-width: 600px) {
    #github {
        width: 60px;
        top:10px;
        left: 50px;
    }
} */