<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <header>
        <h1>Logo</h1>
        <menu>
            <a href="#">Sobre</a>
            <a href="#">Produtos</a>
            <a href="#">Contato</a>
        </menu>
    </header>
    <main>
        <div class="noticias">
            <div class="noticias-items">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Noticia 1</p>
            </div>
            <div class="noticias-items">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Noticia 2</p>
            </div>
            <div class="noticias-items">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Noticia 3</p>
            </div>
            <div class="anuncio">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Anuncio</p>
        </div>
        <div class="propagandas">
            <div class="propagandas-items">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Legenda</p>
            </div>
            <div class="propagandas-items">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Legenda</p>
            </div>
            <div class="propagandas-items">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Legenda</p>
            </div>
            <div class="propagandas-item">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Legenda</p>
            </div>
            <div class="propagandas-item">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Legenda</p>
            </div>
            <div class="propaganda-item">
                <img src="imagens/1659775678083.jpg" alt="">
                <p>Legenda</p>
            </div>
            
        </div>
    </main>
</body>
</html>