@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/*Importei uma fonte*/
@font-face {
    font-family: 'LoveLady';
    src: url(LoveLadyPersonalUse.ttf) format(truetype);
}
body {
    font-size: 16px;
    color: black;
    font-weight: normal;
}
h1 {
    font-size: 32px;
    font-family:'LoveLady',sans-serif;
    text-align: center;
    font-weight: normal;
    
}
p {

    font-family:Arial, Helvetica, sans-serif;
    
}
h2 {
    font-size: 32px;
    text-align: center;
    font-family:'Oswald',sans-serif;
    font-weight: normal;
    
}